<button mat-raised-button color="warn" (click)="deleteElection()">
    Delete
</button>
<!-- <rd-election-details [election_id]="election_id" (takeToVotingEvent)="takeToVotingBallot($event)"></rd-election-details> -->
<rd-election-details [election_id]="election_id"></rd-election-details>
<mat-card class="view-election-buttons-card">
    <form action="" method="post" [formGroup]="pkGroup">
        <table class="full-width">
            <tr>
                <td>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Enter your Private Key</mat-label>
                        <input matInput name="privateKey" id="privateKey" [type]="hide ? 'password' : 'text'"
                            [formControl]="pkGroup.get('privateKey')" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide privateKey'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error *ngIf="pkGroup.get('privateKey').invalid">{{getPrivateKeyErrorMessage()}}</mat-error>
                        <mat-hint>eg. f60aa96953bb54027c49e05c1f4f20b74abfa7283427e78d29fd857d29e55009</mat-hint>
                    </mat-form-field>
                </td>
            </tr>
            <tr><td></td></tr><tr><td></td></tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="migrateElectionContract()" class="full-width"
                        tabindex="0">migrateElectionContract</button>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="initializeVotingProcess()" class="full-width"
                        tabindex="0">initializeVotingProcess</button>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="castVote()" class="full-width"
                        tabindex="0">castVote</button>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="finalizeVotingProcess()" class="full-width"
                        tabindex="0">finalizeVotingProcess</button>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="getElectionsResults()" class="full-width"
                        tabindex="0">getElectionsResults</button>
                </td>
            </tr>
            <tr>
                <td>
                    <mat-error *ngIf='err'> {{ err | async }} </mat-error>
                    <button mat-raised-button color="primary" (click)="getWinningCandidatesDetails()" class="full-width"
                        tabindex="0">getWinningCandidatesDetails</button>
                </td>
            </tr>
            <tr>
                <br /><br /><br /><br />
            </tr>
        </table>
    </form>
</mat-card>