
<table mat-table [dataSource]="electionDataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="sr_no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let election"> {{election.sr_no}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let election"> {{election.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="start">
      <th mat-header-cell *matHeaderCellDef> Start </th>
      <td mat-cell *matCellDef="let election"> {{election.start | date}}  </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="end">
      <th mat-header-cell *matHeaderCellDef> End </th>
      <td mat-cell *matCellDef="let election"> {{election.end | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let voter"> 
        <button mat-menu-item [routerLink]="['/election-admin/delete-election',election.id]" >
        Delete
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <rd-set-election (electionAddeded)="addElection($event)"></rd-set-election>